@import 'normalize';

/**
 * Variables
 */

// Font Size
$font-size-lg: #{(20 / 16) + 'rem'}; // = 20px
$font-size: #{(14 / 16) + 'rem'}; // = 14px
$font-size-listview-title: 1rem; // = 16px

// Color
$color-success: #36B34E;
$color-primary: #1F97CC;
$color-warning: #EF3F2F;
$color-text: #22292F;
$color-muted: #737A80;
$color-border: #CED4DA;
$color-bg-gray: #F8FAFC;
$color-bg-white: #FFF;

// Spacing
$spacing-lg: 2.5rem;
$spacing: 1.5rem;
$spacing-sm: 1rem;
$spacing-xs: 0.25rem;

// Parameters
$drawer-width: 320px;
$navbar-height: 4rem;
$content-width: calc(100vw - #{$drawer-width});
$transition-base: 0.3s ease;
$border-radius: 0.25rem;

// Media Breakpoints
$breakpoint-drawer-hide: 1240px;
$breakpoint-listview-single-col: 860px;

// Z indexes
$z-index-drawer: 9990;
$z-index-drawer-backdrop: 9989;
$z-index-navbar: 9980;

/**
 * Base Styles
 */

body {
  background: $color-bg-gray;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.7;
}

* {
  box-sizing: border-box;
}

/**
 * Main Wrapper
 */

.app {
  width: 100%;
}

/**
 * Navbar
 */

.navbar {
  align-items: center;
  background: $color-bg-white;
  box-shadow: 0 1px 2px rgba($color-text, 0.16);
  display: flex;
  height: $navbar-height;
  left: $drawer-width;
  padding: 0 $spacing;
  position: fixed;
  top: 0;
  width: $content-width;
  z-index: $z-index-navbar;

  @media screen and (max-width: $breakpoint-drawer-hide) {
    left: 0;
    width: 100%;
  }
}

/**
 * Drawer
 */

.drawer {
  background: $color-bg-white;
  box-shadow: 1px 0 3px rgba($color-text, 0.16);
  height: 100vh;
  position: fixed;
  top: 0;
  transition: #{$transition-base} transform;
  width: $drawer-width;
  z-index: $z-index-drawer;

  @media screen and (max-width: $breakpoint-drawer-hide) {
    transform: translateX(-100%);
    &.is-open {
      transform: translateX(0);
    }
  }
}

.drawer-toggle {
  appearance: none;
  background: 0;
  border: 0;
  display: none;
  height: 100%;
  // ↓ナビバーがもつpaddingを打ち消すネガティブマージン
  margin-left: -$spacing;
  padding: 0;
  padding: $spacing;

  @media screen and (max-width: $breakpoint-drawer-hide) {
    display: block;
  }
}

.drawer-backdrop {
  background: rgba($color-text, 0.5);
  height: 100vh;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: #{$transition-base} opacity, #{$transition-base} visibility;
  visibility: hidden;
  width: 100vw;
  z-index: $z-index-drawer-backdrop;

  @media screen and (max-width: $breakpoint-drawer-hide) {
    &.is-open {
      opacity: 1;
      visibility: visible;
    }
  }
}

/**
 * Content
 */

.content {
  margin-left: $drawer-width;
  padding-top: $navbar-height;

  @media screen and (max-width: $breakpoint-drawer-hide) {
    margin-left: 0;
  }
}

/**
 * Listview
 */

.listview {
  $listview-item-width: calc((100% - #{$spacing * 2}) / 3);

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: $spacing $spacing 0;
  &-header {
    font-size: $font-size-lg;
    font-weight: bold;
    padding: 0 0 $spacing;
    width: 100%;
    @media screen and (max-width: $breakpoint-listview-single-col) {
      background: $color-muted;
      color: $color-bg-white;
      font-size: $font-size;
      padding: $spacing-xs $spacing;
    }
  }
  &-item {
    background: $color-bg-white;
    border-radius: $border-radius;
    box-shadow: 0 1px 2px rgba($color-text, 0.16);
    margin-bottom: $spacing;
    padding: $spacing-sm $spacing;
    width: $listview-item-width;
    &__date {
      color: $color-muted;
      font-size: 0.75rem;
      font-weight: bold;
      margin: 0;
    }
    &__title {
      font-size: $font-size-listview-title;
      font-weight: bold;
      margin: 0;
    }
    &__summary {
      margin: 0;
    }
  }
  &::after {
    // 最後の行の配置がおかしくなる問題を解消
    content: "";
    height: 0;
    width: $listview-item-width;
  }
  @media screen and (max-width: $breakpoint-listview-single-col) {
    flex-direction: column;
    padding: 0;
    &-item {
      border-bottom: 1px solid $color-border;
      border-radius: 0;
      box-shadow: none;
      margin: 0;
      width: 100%;
      &:last-child {
        border: 0;
      }
    }
  }
}
