.btn {
  appearance: none;
  background: none;
  border: 0;
  border-radius: $border-radius;
  color: #fff;
  cursor: pointer;
  display: block;
  font-weight: bold;
  line-height: 1.15;
  padding: $spacing-sm 0;
  text-align: center;
  text-decoration: none;
  transition: #{$transition-base} opacity, #{$transition-base} box-shadow;
  white-space: nowrap;
  width: 100%;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    box-shadow: 0 0 0 3px rgba($color-primary, 0.5);
    outline: none;
    text-decoration: none;
  }
  &.is-primary {
    background: $color-primary;
  }
  &.is-secondary {
    background: #fff;
    border: 1px solid $color-border;
    color: $color-text;
  }
  &.is-warning {
    background: $color-warning;
  }
}
