.form {
  &-group {
    margin-bottom: $spacing-sm;
  }
  &-control {
    appearance: none;
    border: 1px solid $color-border;
    border-radius: $border-radius;
    padding: 0.75rem $spacing-sm;
    width: 100%;
    &:focus {
      border-color: $color-primary;
      box-shadow: 0 0 0 3px rgba($color-primary, 0.25);
      outline: 0;
    }
  }
}
