// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// あとで別ファイルに切り出す
//// _variables.scss
$app-navbar-height: 5rem;
$narrow-container-width: 600px;

//// _global.scss
body {
    padding-top: $app-navbar-height + $spacer;
    background: $light;
}

//// _layout_narrow.scss
.narrow-container {
    max-width: $narrow-container-width;
}

//// _navbar.scss
.app-navbar {
    height: $app-navbar-height;
    box-shadow: $box-shadow-sm;
    background: #fff;

    .nav-link {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
}

//// _spnav.scss
.spnav {
    position: fixed;
    bottom: 30px;
    left: 0;
    width: 100%;
    padding: 0 30px;

    &-list {
        display: flex;
        list-style: none;
        padding-left: 0;
        margin: 0 auto;
        justify-content: space-between;
        width: 100%;
        max-width: $narrow-container-width;
        background: #fff;
        box-shadow: $box-shadow-sm;

        .nav-item {
            flex: 1;
        }

        .nav-link {
            color: rgba(0, 0, 0, .5);
            padding: 1rem .5rem;
            font-weight: bold;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;

            &:hover {
                color: rgba(0, 0, 0, .75);
            }
        }

        .nav-icon {
            font-size: 1.2rem;
            margin-bottom: .5rem;
        }

        .nav-label {
            font-size: .6rem;
        }
    }
}
